header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    background-color: rgb(43, 65, 134);
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0 20px;
}

.left-head {
    position: relative;
}

.ceb-img-div {
    position: absolute;
}

.ceb-img {
    width: 230px;
    border-radius: 150px;
    margin: 10px 0px 20px 70px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    transition: all 1s;
}

.ceb-text {
    position: relative;
}

.ceb-heading {
    color: white;
    font-size: 60px;
    font-family: Impact;
    letter-spacing: 7px;
    word-spacing: 5px;
    font-weight: lighter;
    margin: 0px;
    cursor: default;
}

.right-head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
}


.about-btn,
.contact-btn {
    color: white;
    font-family: Arial;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    padding: 4px 12px;
    border-radius: 16px;
    transition: all 0.16s;
    margin: 0;
    outline: 1px solid white;
}

.about-btn:hover,
.contact-btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(90, 128, 255);
}


.outer-layout,
.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 130px;
    left: 0;
    right: 0;
}

.about-btn-div,
.contact-btn-div {
    position: relative;
}

.outer-tooltip {
    top: 29px;
    right: 0;
    height: max-content;
    position: absolute;
    pointer-events: none;
    transition: all 0.2s;
    opacity: 0;

}

.tooltip {
    position: relative;
    font-family: Arial;
    width: 180px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 8px rgba(90, 128, 255, 0.7);
    right: 0;
    top: 15px;
    opacity: 0;
    pointer-events: none;
    text-align: justify;
    transition: all 0.2s;
}

.about-btn-div:hover .outer-tooltip,
.about-btn-div:hover .tooltip,
.contact-btn-div:hover .outer-tooltip,
.contact-btn-div:hover .tooltip,
.tooltip:hover {
    opacity: 1;
    pointer-events: all;
}

.tooltip:hover {
    opacity: 1;
    pointer-events: all;
}

.contact-info {
    text-decoration-line: none;
}

.contact-info:hover {
    opacity: 0.65;
}

.contact-info:active {
    color: red;
}

.middle-layer {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(87, 0, 114, 0.7);
    border-radius: 20px;
}

.result {
    display: none;
}

.heading-AER {
    padding: 0 20px;
}

h1,
h3 {
    display: block;
    font-family: Arial;
    text-align: center;
}

.inner-layout {
    border-radius: 20px;
    background-color: rgb(206, 215, 252);
}

.details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(206, 215, 252);
    border-radius: 20px;
}

.info-details {
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    margin-left: 5px;
}

.input-field {
    font-size: 16px;
    font-family: Arial;
    color: rgb(11, 20, 59);
    padding: 8px 0px 8px 10px;
    border: 1px solid gray;
    border-radius: 8px;
    outline: 1px solid rgb(5, 105, 255);
    background-color: rgb(255, 255, 255);
    margin-top: 4px;
}

.input-field::placeholder {
    color: rgba(0, 47, 255, 0.65);
}

.button-search,
.warning-close-btn,
.warning-cross-btn,
.print-result,
.back,
.download-btn {
    display: block;
    border: 0;
    border-radius: 5px;
    background-color: rgb(0, 47, 255);
    color: white;
    font-size: 20px;
    font-family: Arial;
    padding: 8px 20px;
    cursor: pointer;
    transition: all 0.15s;
    margin-top: 30px;
}

.button-search:hover,
.warning-close-btn:hover,
.warning-cross-btn:hover,
.print-result:hover,
.back:hover,
.download-btn:hover {
    background-color: rgba(0, 47, 255, 0.85);
}

.button-search:active,
.warning-close-btn:active,
.warning-cross-btn:active,
.print-result:active,
.back:active,
.download-btn:active {
    opacity: 0.75;
    transform: scale(1.01);
}

.outer-warning {
    display: none;
    position: fixed;
    background-color: rgba(80, 80, 80, 0.1);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.warning-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.warning-text {
    color: red;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    margin: 0px;

}

.warning-cross-btn {
    position: absolute;
    width: 40px;
    margin: 0;
    padding: 8px 1px;
    border-radius: 20px;
    top: -15px;
    right: -15px;
}

.h-line {
    width: 450px;
    display: block;
    margin-bottom: 2px;
}


.result-inner {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    position: relative;
}

.candidate-details {
    display: grid;
    grid-template-columns: 170px 1fr;
    padding-left: 7px;
    position: relative;
}

.img-std-div {
    position: absolute;
    top: 0;
    right: 25px;
}

.img-std {
    border-radius: 8px;
    width: 90px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border: 1px solid rgb(192, 191, 191);
    pointer-events: none;
    z-index: 1000;
}

.candidate-details-left p,
.candidate-details-right p {
    margin: 0;
    padding: 4px 0px;
    font-family: Arial;
}

.candidate-details-left p {
    font-weight: bold;
}

.candidate-result {
    display: grid;
    grid-template-columns: 40px 1fr 100px 100px;
    margin: 10px 0px;
}

.heading-table {
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 5px;
}

.table-entries {
    font-size: 15px;
    font-family: 'Segoe UI';
    font-weight: 600;
    padding: 3px 40px 3px 7px;
}

#sub7 {
    display: none;
}

.note {
    color: rgb(255, 68, 68);
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    margin: 5px;
}

.extra-btn {
    display: flex;
    justify-content: space-between;
}

.download-btn,
.back {
    margin-left: 20px;
}

.stamp-ceb {
    position: absolute;
    opacity: 0.2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    pointer-events: none;
    border-radius: 20px;
}

.stamp-ceb-img {
    border-radius: 50%;
    margin: 0;
    box-shadow: 0 0 10px rgb(0, 81, 255);
    opacity: 0.04;
}

.stamp-ceb p {
    font-family: Arial;
    opacity: 1;
    position: absolute;
    right: 0;
    bottom: -15px;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: right;
    height: 30px;
    background-color: rgb(191, 200, 255);
    padding-bottom: 10px;
    padding-right: 20px;
}

footer p {
    font-size: 18px;
    font-family: Arial;
    color: rgb(47, 0, 255);
}

@media (max-width:1360px) {
    .ceb-img {
        width: 200px;
        border-radius: 100px;
        margin-left: 50px;
    }

    .ceb-heading {
        font-size: 50px;
    }

    header {
        height: 60px;
    }

}

@media (max-width:1170px) {

    .ceb-heading {
        font-size: 40px;
    }

    header {
        height: 55px;
    }

    .about-btn,
    .contact-btn {
        font-size: 12px;
    }

}

@media (max-width:1000px) {

    .ceb-heading {
        font-size: 33px;
    }

    header {
        height: 55px;
    }

    .outer-layout,
    .result {
        margin-top: 170px;
    }
}

@media (max-width:790px) {

    header {
        grid-template-columns: 2fr 1fr;
    }

    .left-head,
    .ceb-img,
    .ceb-img-div {
        display: none;
    }

    .right-head {
        justify-content: space-evenly;
        margin-left: 20px;
    }

    header {
        height: 40px;
    }

    .outer-layout,
    .result {
        margin-top: 110px;
    }

}

@media (max-width:760px) {

    .ceb-heading {
        font-size: 24px;
    }
}

@media (max-width:560px) {
    #sub7 {
        display: block;
    }

    #sub5 {
        display: none;
    }

    .ceb-heading {
        font-size: 18px;
    }
}

@media (max-width:360px) {
    .right-head {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .ceb-heading {
        font-size: 16px;
    }
}

@media (max-width:460px) {
    .result {
        transform: scale(0.72);
        margin-top: 100px;
    }
}

@media (max-height:780px) {
    .result {
        transform: scale(0.81);
        margin-top: 140px;
    }
}